 <div class="container">
      <div class="row justify-content-center">
        <div class="card my-5 px-10 py-5 cb text-center" style="width: 24rem; height:42rem;">
          <img class="card-img-top" src="assets/logo.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"> 
          </div>  
          <form class="column">
            <div class="col-md-12 mb-3">
              <label for="validationDefault01" class="form-label">Username</label>
              <input type="text" class="form-control" id="validationDefault01" formControlName="Username" required>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationDefault02" class="form-label">Password</label>
              <input type="password" class="form-control" id="validationDefault02" required>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
            <div class="text-center" >Don't have an account?</div><a routerLink="/register">Sign Up</a>
          </form>
        </div>
      </div>
    </div> 
