 <div class="container">
      <div class="row justify-content-center">
        <div class="card my-5 px-10 py-5 cb text-center" style="width: 24rem; height:42rem;">
          <img class="card-img-top" src="assets/est22222.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"> 
          </div>  
          <form class="column" [ngClass]="{'was-validated': wasValidated}" [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
            <div class="col-md-12 mb-3">
              <label  class="form-label">Username</label>
              <input type="text" class="form-control"  formControlName="username" required>
            </div>
            <!-- <div  >
              <div *ngIf="loginForm.controls['username'].errors" class="error-msg">
                Please enter username
              </div>
            </div> -->
            <div class="col-md-12 mb-3">
              <label  class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" required>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit" (click)="submit()">Sign in</button>
            </div>
            <div class="text-center" >Don't have an account?</div><a routerLink="/register">Sign Up</a>
          </form>
        </div>
      </div>
    </div> 
