
<div class="container ">
	<div class="row">
	    
	    <div class="col-md-11">
	        
    		<h1>Create post</h1>
    		
    		<form [formGroup]="createpostsForm">
    		    
    		    <div class="form-group">
    		        <label for="title">Title <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="title" formControlName="title" required />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea rows="5" class="form-control" name="description" formControlName="content" required ></textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> required fields</p>
    		    </div>
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile" class="form-control" formControlName="file" ><br><br>
    		    
    		    <div class="form-group">
					<app-file-upload formControlName="image"></app-file-upload>
    		        <button type="submit" class="btn btn-primary" (click)="submit()"  [disabled]="disableButton">
    		            Create
    		        </button>
    		        <button class="btn btn-default">
    		            Cancel
    		        </button>
    		    </div>
    		</form>
		</div>
		
	</div>
</div>