body{
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 70px;
    }
    
  
     .card-body{
      margin-bottom: 18px;
      padding-top: auto 0 ;
      margin-top: 50px;
     }
     
      .column{
      padding-bottom:5px;
      margin-bottom:10px; 
      font-family:georgia,garamond,serif;
      border-color: #04011396;
     }
     
     h1{
        margin-top: 0px;
        margin-bottom: 10px;
        font-family: sans-serif;
        font-size: 6rem;
        color: whitesmoke;
        } 